@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    color: blueviolet;
}

.figure-container {
    fill: transparent;
    stroke: blueviolet;
    stroke-width: 2%;
}

.figure-part {
    display: none;
}