@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}