@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #5fbaa7;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}